.input {
    display: flex;
    position: relative;
    align-items: center;
    width: 90%;
}

.input-field {
    width: 100%;
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 20px;
    border: none;
    outline: none;
    transition: 0.2s
}

.input-submit {
    position: absolute;
    font-size: 16px;
    padding: 5px 10px;
    right: 10px;
    border-radius: 50px;
    border: none;
    outline: none;
    background-color: #2f74c0;
    color: white;
    transition: 0.2s all;
    cursor: pointer;
}

.input-submit:hover {
    background-color: #388ae2;
}

.todos {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    flex-wrap: wrap;
}

.todos-item {
    display: flex;
    width: 29.5%;
    padding: 15px;
    margin-top: 15px;
    background-image: url("https://img.freepik.com/free-photo/crumpled-yellow-paper-background-close-up_60487-2390.jpg?size=626&ext=jpg");
    border-radius: 5px;
    flex-wrap: wrap;


}

@media (max-width:700px) {
    .todos-item {
        width: 90%
    }
}

.item-text {
    flex: 1;
    font-size: 16px;
}

.item-icon {
    cursor: pointer;
    margin-left: 10px;
}